* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Electrolize", sans-serif;
	background: #191919;
	color: #fff;
}
body {
	margin: 0;
	scroll-behavior: smooth;
}
#property__modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
	z-index: 10;
}
#toaster {
	position: fixed;
	top: 20%;
	right: 5%;
	z-index: 10;
	background: transparent;
}
#alert {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
	z-index: 10;
}
body::-webkit-scrollbar {
	display: none;
}
